container_commands:
  01_setup_docker_log:
    command: |
      # Create a directory for Docker logs if it doesn't exist
      mkdir -p /var/log/eb-docker-log
      chmod 777 /var/log/eb-docker-log
      # Restart Docker service
      service docker restart
      # Restart EB Docker log service
      /opt/elasticbeanstalk/bin/log-conf -n docker-daemon -l /var/log/docker -t tailing
      service awslogsd restart 