<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Tic Tac Toe Game</display-name>
    
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tictactoe.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tictactoe.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>com.tictactoe.servlet.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
    
    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Session timeout (30 minutes) -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
</web-app> 