<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="cn" connectionString="Data Source=TEO;Initial Catalog=Book_Club;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		<add key="parentTable" value="Members"/>
		<add key="parentPrimaryKey" value="members_id"/>
		<add key="childTable" value="Book_Requests"/>
		<add key="childForeignKey" value="fk_BookRequests_Members"/>
		<add key="server" value="TEO"/>
		<add key="database" value="Book_Club"/>
		<add key="column_name" value="book_title"/>
	</appSettings>
	
	<!--
 <appSettings> 
  <add key="parentTable" value="Books"/>
		<add key="parentPrimaryKey" value="book_id"/>
		<add key="childTable" value="Book_Reviews"/>
		<add key="childForeignKey" value="fk_BookReviews_Books"/>
		<add key="server" value="TEO"/>
		<add key="database" value="Book_Club"/>
		<add key="column_name" value="rating"/>
 </appSettings> -->


</configuration>


